// Заголовки, общие БЄМ блоки и проче...
* ,*::before, *::after {
   padding: 0px;
   margin: 0px;
   border: 0px;
   box-sizing: border-box; 
}


a {
   text-decoration: none;
   
}

ul li {
   list-style: none;
}
img {
   vertical-align: top;
}